@import url('https://fonts.googleapis.com/css?family=Roboto:900|Josefin+Sans:300|Oxygen:300|Pompiere');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Lato:300|Alegreya|Londrina+Sketch|Dosis|Acme|Dokdo|East+Sea+Dokdo|Lora:700|Oxygen:300|Playfair+Display:900|Yanone+Kaffeesatz');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

/* ---------------- NAVIGATION ------------------ */

nav ul li {
  display: inline-block;
  padding: 9px;
  transition: 0.5s;
}

nav ul li a {
  text-decoration: none;
  color: #FAF4E6;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  list-style: none;
  transition: 0.5s;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  margin: -50px 0px 0px 0px;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 99999;
  transition: 0.5s;
}

nav ul{
  background: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

nav ul {
  transition: 0.5s;
  margin-bottom: -20px;
  padding: 50px 25px 20px 50px;
  transition: 0.5s;
}

nav.black ul li {
  display: inline-block;
  padding: 9px;
  transition: 0.5s;
}

nav.black ul li a {
  text-decoration: none;
  color: #FAF4E6;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  list-style: none;
  transition: 0.5s;
}

nav.black {
  background: rgba(0, 0, 0, 1);
  margin: -50px 0px 0px 0px;
  width: 100%;
  text-align: center;
  z-index: 99999;
  transition: 0.5s;
}

nav.black ul{
  background: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

nav.black ul {
  transition: 0.5s;
  margin-bottom: -20px;
  overflow: hidden;
  padding: -15px 25px 45px 50px;
}
.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  cursor: pointer;
  color: #EDC385;
  display: none;
}

.fa-bars {
  padding: 15px 15px;
}

.texts {
  color: #FAF4E6;
  text-decoration: none;
}
.texts:hover {
  color: #EDC385;
  text-decoration: none;
}

.YouTube:hover {
  color: #dc3545;
  text-decoration: none;
}

.YouTube {
  color: #FAF4E6;
  text-decoration: none;
}

/* ---------------- FRONT PAGE ------------------ */

#main-box-text {
  background: linear-gradient(312deg, #292b2d, #4178e8, #feffd9);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0,0,0,.5);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 330px;
  filter: drop-shadow(0px 0px 5px);
  min-height: 1080px;
  border-bottom: .1px solid #FAF4E6;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}

h1 {
  letter-spacing: 13px;
  text-transform: uppercase;
  font-family: 'Acme', sans-serif;
  color: #FAF4E6;
  font-weight: bold;
  font-size: 95px;
  padding-bottom: 90px;
  margin: -130px 10px 50px 10px;
  transition: 0.4s;

}

h1:hover {
  transform: scale(1.05);
  transition: 0.4s;
  color: #EDC385;
  filter: drop-shadow(0px 0px 10px black);
}

.fa {
  color: #FAF4E6;
  transition: 0.4s;

}

.arrow1 {
  padding-bottom: 100px;
}

.fa:hover {
  transform: scale(1);
  transition: 0.4s;
  color: #EDC385;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
}


/* ---------------- SUB-SECTIONS ------------------ */

#home-box, #about-box, #portfolio-box {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: drop-shadow(0px 0px 10px);
  margin: 10px 0px 0px 0px;
  color: #212529;
  border-top: .1px solid #FAF4E6;
  border-bottom: .1px solid #FAF4E6;
}

/* ---------------- VIDEO SECTION ------------------ */

#home-box {
  background-image: url('https://www.hopechannel.de/fileadmin/HopeChannel/files/tv/fotos/serien/schabbat-schalom/0173_0209_2017-10-13_fre-sonneweld_unsplash-com.jpg');
  position: relative;
  background-opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.video-section {
  opacity: 100%;
  margin: 30px 10px 10px 10px;
  filter: drop-shadow(0px 0px 00px black);
  max-height: 1080px;
  transform: scale(.8);
  transition: 0.4s;
  outline: 2px solid #fff;
}

.video-section:hover {
  transition: 0.4s;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
}

/* ---------------- ABOUT SECTION ------------------ */

#about-box {
  background-image: url('https://images.pexels.com/photos/442587/pexels-photo-442587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  min-height: 1080px;
}

.photo {
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  bottom: 179px;
  border: 10px solid #121212;
  outline: 1px solid #fff;
  top: 300px;
  left: -280px;
  z-index: 1;
  transition: 0.4s;
}

.photo:hover {
  transform: scale(1);
  transition: 0.4s;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
}
p {
  border-spacing: 20px 20px;
  background: #faf4e7;
  padding-left: 300px;
  letter-spacing: 0px;
  font-size: 23px;
  font-family: 'Quicksand',cursive;
  color: #121212;
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 862px;
  left: 60px;
  bottom: 179px;
  line-height: 27px;
  outline-offset: 0rem;
  border-top: 0.6rem solid;
  border-right: 0.6rem solid;
  border-bottom: 0.6rem solid;
  border-left: 0.6rem solid;
  transition: 0.4s;
  outline: 1px solid #fff;
}

p:hover {
  transform: scale(1);
  transition: 0.4s;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
}

/* ---------------- PORTFOLIO SECTION ------------------ */

#portfolio-box {
  background-image: url('https://images.pexels.com/photos/593322/pexels-photo-593322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  min-height:
}

.gallery-container {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  filter: drop-shadow(0px 0px 10px black);
  margin: 90px 90px 90px 90px;
  outline: 1px solid #fff;
}

.figure-img {
  min-height: 40vh;
  min-width: 20vh;
  display: flex;
  background-color: #FAF4E6;
  justify-content: center;
  align-items: center;
  margin-bottom: -0.2px;
  transition: 0.5s
  overflow: hidden;
}

.figure-img:hover {
  transform: scale(1);
  transition: 0.4s;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
}

.figure1 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('https://lh3.googleusercontent.com/nSJXBtXOOOxHcXFJJfusLz4zoKWk0gtm3d-TZl1Dgne_VQMjtJdHKZtyoOwObuqJWlnB69zYaxJNRJr9ZqCqqqTLvgMN88OSjMHWUWe-dUkHKonjtd9LFasUeT17XLvr2PnzmJ5KQptQAewqUKSydmDZWcUUFlTe0EwnETiD2Wl2cvu9bQTehno282vaZfpdL2z0akCj1DA07nlrRYtRZNz-qC52VloPGoAMICQO7tgWA5xmBTOdDQ0K8XCpsqZnSqBgFzUVf6iy1n8B4YvSYao6-c5it53BVBDm7QUqP-VNTt13yPwGO8GDmUe3LbVqmbzxj-HN4qlOVsH7HNi1zxJkvRgFHhivT3TE3k9F400Nr8q7C9si3Wd7FX1SIvgTj5jSjInKe2vi7lKPBHs3rHBVrksiLNg0t9FzNjjVkFMZnCTdOFvvtw3T1-3r8MeCbsKCb79G64uHHBM_7DUgO6crHwMUp9-OsUBxrtyhDpjhb9APeGWntd3eAXZhX0bfccIGdaaF9VUsheCZbLZgOXRmCnYDWO4pup8u_AfrvplYt5Uj8YVjTxfjTo8eCq1wYh4wjcMCa2dzLTk570Y4efcLom6yAx-W2TTMAHazr9et4IyL-uUA5uYFKRUrwQ=w896-h600-no');
  background-size: cover;
  background-position: top;
}

.figure2 {
  grid-row: span 2;
  grid-column: span 3;
  background-image: url('https://lh3.googleusercontent.com/HOuJbZS_kXBIbGID0cIQgYYYxHW1x-ypDJi8UzHKXZfcqD992uTmBSXo8Zh-q5m-3-E9LEt_imJ4DRZyD3fMKH6an1qyhOiwofx1AzJBSiLrSPQEBntRNnbtgngQAuffQ8EwVQ9KiTDw4s4d__WqmHNj1RYOYXd65rYjdzikO9r8KnItXSGYKdqqoNQc7PJgEk75GyepAKLeYrYRRVslEyL85oAY2CBssxihYS9nFvaqCRsQgVPY87J8GjbEaV25skBYhxaO-p3cyLP0uVxmABpVif8BrPD_Dh8fCXWM0B0vNXVGUPqqbsmM_9zAvn9tVn5O9Vzsq0n7L46m--RFXqN1q6bzriFVgykdibT9VWmrC95msPBHZvTepCswEhVdTn9g31cq4-i-KRNtv66eaQs4UtfFUpErqVJ1e1mSebH4ImodMVh67DlDNozB1tAh-6IKebvSPOLIUtpSgyymHi1xHmHNWvsvBhldggFnxZ12gdKzFreC760WAgSrtOa-mGrDOQDjrz0xhLHSp3Tnfe-UQbb5vig7D2Sos3PAyENfabC8tT-NsS7sXJpMLKhyt-BuGWyL_ITsC6Np1d_ZCAFTNV4PCq0ymj091gsh0PCYJG6hP3_czYKM_brZxA=w546-h445-no');
  background-size: cover;
  background-position: top;

}

.figure3 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('https://lh3.googleusercontent.com/GZa_vPX98GRtNuFYU1_XBmJn2F1ktsPOVGIv9CpGBPRoro8PvGdAhWsvQzM0KLVorK5aeHHFmVACAER_dHeZaMTgCl_OQTCVCx4rqOQKynIf7UHmSd9ccsZVzkBbE6TTtWqiQZcdei7_1E4AOT2Oa6tKPyDKlRqzMu3YkJMcbQgKt1jWZa--0tNxAbB2R4a7qL0bbfqGfopLt4BUWSAfOKsBwmdEeXHAlcUkjacnZ1OaWmJzzwTnWqLPn1Hrtojz_I8vnCRnoerNDTXc8IsFtXnvOBVfHp_wOBlWWmTbr8m6zFW32h22ScwOnb1pPe631Gp12KUqHlWWV-mUY6wGkJ__K4GBkxm4yI_rEdiV2eozTXgFDRCoNKMdhLGHlrQxg6UzrZNGZek6F6bgHKV8Cgzrt9WQz4sbOXlLah02EcXNrRxfbGuOR3MCohIv1NOjEWiaLsBCIs5n9srxXbkqnVNvHiRhyCSNHnGFvBHIeYst4LHJ0-Im-9uuSEnZRujFBHuyp-MYBwVp3Bjz3HA80YOLqc7h4eGh0h6HdKH8KCineX4yQr9TocthaJh_gOtaPqAgOJR-rfYNHMIgPwI6-_ySI-brtrAEUTBSECAsumCQjzXTemXUYZ7XtokEkg=w851-h725-no');
  background-size: cover;
  background-position: top;

}

.figure4 {
  grid-row: span 2;
  grid-column: span 1;
  background-image: url('https://lh3.googleusercontent.com/1SUoV-P_59bB21e_ajU0X4-gRY1nRIYLPvtDHqugaUKU6WZPdSMcxm-E8zRp1MwJbQoLrvM8iXmL_d5L3Gz9mwwoWlRZaD3UnbsyosXUlX-gVpN0BmxNRl6ttwJkuRLDEG82JO-tGA1uQbKn4kUSO85qUeaKxvveAGLocZL974rMsi2Xt7Sxyoq4_uk4YpoKSlp15By1DQBcPkvo43tWYOiIy9uCH-753Wl5VjRhZ9mYkJs0iuH3Rb1WXwtcSUM-FAdI20dTKZXYqCC3oWdFTKwgaCeMIT7ei4-84rYXuA_ZZHBf7_L9_6k3m91iI5CB_ab8lA2AVH_TZowZWkw-qHR6MVn27k-vP39js8TtF-OyBR4G2TwAwXARmcjC3XcZWxoEER5-52QAD030kG77zL9kRTCNeczd_RrBNDGjGTsHXai76sAPL6U6ROdvnU1AFq3iPpBF9lbN0_npHY34HPuEUCWWwQbqfo1c0wmhk4GyvF2-8F1-_D14UPsj9qn_LF_OMBqLTRNsT0E5rdW0ZhMNSV915HemLEejk5DduxkPFbeEVW_Mhxa927D4a9Rvl7EjZuiGcHJsKFKKHODsVdFMcIwxvFmUF_rFYhmP4W4mKWG6JNuR0pK_hkkemw=w400-h723-no');
  background-size: cover;
  background-position: top;

}

.figure5 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('https://lh3.googleusercontent.com/CgU-MafouiZQeIEc4-ej6QcbQEox-x92PgbKcui8NMbiaT2W3_Msb00lkaO3RM-dZohZJNUXouo0-khyLqH4Z2_rz0T19GoVwnyn9xCl6Z_0Fkmvs_p05koE6wkpSkt6GYvnYeZ8x3zBzLANrcYkGcnPgpCvCoiSiqNJ4aAZAGo8dNApFR2QQA3j0upwi7tR7i_nozvFkwd5TYqyV3MRpQrB1AFXbIKh1HgEgm-fP8baMdjuU19Nj5JPJPSs8BbvlIZPgu46WJC5APgGQYKV4kuI-G0szHW8zugpH9da5z9AjVWBmNcx0Mr158khXVwjh7HtNAyC8FtY_63hnUS2q5p1S35i2ql0BBFeaVYe5RQ4oVX16uj4X7uFuha_Oo-PyX9Uvw3uUZdiN60ZxXc89ASG5HHHLlITjBRgfP0yzyLHo057BjUio3l5afK17STF2R4uDiFE9U0dxbQQs6cJZC5uKdyRAB7mpWWTd1OJKmKygstkB2XdXkCTtmzBQkdgbiJhqFjzLR9UlqOWZEgyS7fgSJOu3_hz8fynDyzrbm4hi3WFoDM9rT0Nug2Wjd5JYDGYlag7awniTnKqYiXxWsM-Fcxd_pun4p1gRCP1SG4AzV_ZTcfFikhr-Z24dw=w847-h733-no');
  background-size: cover;
  background-position: top;

}

.figure6 {
  grid-row: span 2;
  grid-column: span 1;
  background-image: url('https://lh3.googleusercontent.com/YcVzZ8OXzSuSY8hOz8tWq2o1TKez_MDc_No8O1RkBCEzHs4LsKRSp5dsiFBmDnqidOdDMVaI_qSAQwH0eJDoXXCKZqpTdyw-nOPH0rDgpgxyZraUdjE18IHb3H3Dw_CDfVj1iXS_JHyqhIZLVDHDcX1ltR7kMgJvi_KmbT4u_pS_oDpCPYYC9lYn0L_-5ECsdNhOqGdM9l-tygWT5o-KN4D3G4f9oDH1_8Srim_-2ti7mwpNzR83pT0_6uGH50nuWvrNIqVU0MdTb853aqVALmA7TOG3nz_zqo-2mEy-mxJrMcz4gkPPEJPtijojD3YQ1WOYY4I-mFVpdGP0z2bMh3Z0_pgRtNYD_x71ZNGthoDyRdDKjCQZJ6lQDQcg7uMYB49KEsAUsguH9GY5oH4pOJxvjvCJmLpCsrjFR9zrdJR3PArKii77Ft-BMWCozV6kGPKNTfom88ni375-9cAWkWPOcNK8ocSF66td27pmdbC2NL4lDOV9mCMsk95S_fcNOQSdu1WP_rYTji30cepxclDadS-8JzmS-lNyEK54AzlxbzuvrP2vjF6bWLg4KinYAuLYtvKoUyzmVM21uWPiwSXGHKrvaGQCJuUhMyVxLrEr6ATx2RBZpEUJxHBVe7c=w419-h557-no');
  background-size: cover;
  background-position: top;

}

.figure7 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('https://lh3.googleusercontent.com/Lj3uv5u4I2d1jDsFvDIid0tkp9y5ioieVZUwFSCXoXJn2moRNY3fl4-ERqybMiFUO_tm2RYNP761sMJtTFvTOvo5HxU1-IEwdKZWdWCt8tzdnz6a_2kDt22HS5YcGOOqj7aHmO_bYdyd7YBKM5gQlK-8yc1sx_-Wtrc7dpt29I1wXBtsWtfMnO__oNsubnbl44itHCDFqda4DX51BwVckPJASsdOaDAKeLQx0tkZXjXURUWJtIXgg2gdt0Bqa4XvKh6C0m6UQVD2TnqJZhJ4ghn6Pk-r4NKwktkMhwmDJ5iA8atDeNzM7Z8BvDJmHO94UWhhwdcOyMuNM98VvJUiogDKRqsXeXiFHfnHLT9_k39lj8MfrV1gYJ0KIntiWx_1q2PGLO1rm2CnOZsWJZZCjSb0yaW9NsWAw-S4IQ1Mx5Jp_EjxZoN2p7iE8V1L5hfTQxVimquB4r5yEMaT4ABANmA91baLbKlYFTtgytJTP3kAWkTQejYJ2LC28EiLCFQZVtTe-Nx8U_jLM4gYbfcP1sc-IdMCvcUpfIVKCyduF2lrQzKfQg0Zopnw79WeKhjsZCIiC0gD0GOPlkVJOvq42zD5TTDUjjAEXHx8sGwuPU7D0HJ7brKTTfoQZtmInw=w1128-h731-no');
  background-size: cover;
  background-position: top;

}

.figure8 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('https://lh3.googleusercontent.com/omdfqCnLsvwtsclR8yN8VSsm8hK-a3sZvabU9ZsOEb2HPc3FsvDkrIYmstiStZbgM4nt-ijRPf2YzgAvnKO5r4eBdRcukAqtJO-CZLktyNHMRuqDJpfehHrkSjpffFj-paprkujnJ9s9xd4Bh6wkf3Bwiu4kb3w48ldaAxRxJaRvg7VOmiMVwwAxbqMf01BZKLy93D6JI80mR1hFu5QIzYvLxppjKKBSWoIb9wV0XVwBSCUimidkCq2l1UhUeN3u7AW3MaPveQwTPUTrw0gaxdLxjpjzcAJKcUOVcuvY_4A05u4QyDfaqpVXQws5vFQ3BkbYDhZMvplrTsWliF4d1BVdAMQSjKASX7vaFcNM6MbxPdVtljqKiv4_Cz7IkZ8y1X_aQGNrGuLgVhCE65v6DIJffyct1HD1O5K0sJESsPcZTlac-NUVvQr3a5w5x7LEl9AooJUyA6A3PuBMZ414sqCg-DGh0O14apQYXZtdg3qPWNSk12qaHvAS7aeuA4OS5sBjCJmzgut57_IKBtYUK1yJv1WN6dfFxRrktKqLZu-gtlhTm8ofNvO6H5tXqP3BuDmP19vDBrJK31JWeYfC8OX8WTYfDHu3pCIU4FbvPN9SeD9bctxxHahHTnevkA=w730-h726-no');
  background-size: cover;
  background-position: top;
}
/* ---------------- DIVIDERS ------------------ */

.section {
  text-align: center;
  width: 100%;
  height: 0px;
  transition: 1s;
  filter: drop-shadow(0px 0px 5px);
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
  height: 0px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
  height: 0px;
}

.box-text {
  position: relative;
  width: 100%;
  text-align: center;
  color: #000;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 27px;
  height: 0px;
}

.box-text .border{
  background-color: #111;
  color: #fff;
  padding: 20px;

}

.box-text .border.trans{
  background-color:transparent;

}
/*
.border {
  border: 1px solid #dee2e600!important;
}

/* ---------------- FOOTER ------------------ */

.navbar.black {
  display: flex;
  margin-left: 10px;
  transition: 0.5s;
}

.navbar {
  padding: 0rem 0rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  transition: 1s;
  display: none;
  filter: drop-shadow(0px 0px 8px black);
  transition: 1s;
}

.fa-twitter:before {
  color: #48a0ff;
  transition: 1s;
}

.fa-instagram:before {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  vertical-align: top;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  transition: 1s;
}

.fa-youtube:before {
  color: #dc3545;
  transition: 1s;
}

.fab {
  color: #FAF4E6;
  transition: 1s;
}

.navbar-light .navbar-brand {
  color: #FAF4E6;
  transition: 1s;
}

.bg-light {
  background-color: #f8f9fa00!important;
  transition: 1s;
}

/* ---------------- RESIZE ------------------ */

@media(max-width: 1400px) {
  nav ul li a {
    font-size: 35px;
    transition: 0.5s;
  }
  nav ul li {
    margin: 0px 0px 0px 0px;
    transition: 0.5s;
  }
  nav.black ul li a {
    font-size: 35px;
    transition: 0.5s;
  }
  nav.black ul li {
    margin: 0px 0px 0px 0px;
    transition: 0.5s;
  }

}
@media(max-width: 1200px) {
  nav ul li a {
    font-size: 30px;
    transition: 0.5s;
  }
  nav ul li {
    margin: 0px 0px 0px 0px;
    transition: 0.5s;
  }

  nav.black ul li a {
    font-size: 30px;
    transition: 0.5s;
  }
  nav.black ul li {
    margin: 0px 0px 0px 0px;
    transition: 0.5s;
  }
  h1 {
    letter-spacing: 13px;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    color: #FAF4E6;
    font-weight: bold;
    font-size: 65px;
  }
}
@media(max-width: 1000px) {
  nav ul {
    max-height: 0px;
    padding: 0px 0px;
    background: #000;
    margin: 0px;
    transition: 0.5s;
  }

  nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 99999;
    margin: 0px 0px 0px 0px;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    margin: -6px;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #ffaa4f;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    list-style: none;
  }
  nav.black ul {
    margin: 10px;
    background: #000;
  }

  nav.black ul li a {
    text-decoration: none;
    color: #ffaa4f;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    list-style: none;
  }

  nav.black ul li {
    display: inline-block;
    padding: 9px;
  }

  nav.black ul li a {
    text-decoration: none;
    color: #FAF4E6;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    list-style: none;
  }

  nav.black {
    background: rgba(0, 0, 0, .5);
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
    z-index: 99999;
    transition: 0.5s;
  }

  nav.black ul{
    background: rgba(0, 0, 0, 1);
    transition: 1s;
  }

  nav.black ul {
    transition: 0.5s;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
  }


  .showing {
    max-height: 38em;
  }

  h1 {
    letter-spacing: 13px;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    color: #FAF4E6;
    font-weight: bold;
    font-size: 65px;
  }

  .video-section {
    opacity: 0.9;
    padding: 1px 1px;
    max-width: 1920px;
    max-height: 1080px;
    transform: scale(0.98);
    transition: 1s;
  }

  .section {
    text-align: center;
    width: 100%;
    height: 0px;
    padding: 0px 0px;
    transition: 1s;
    }

  .menu-icon {
    display: block;
  }

  .photo {
    transform: scale(.3);
    left: -130px
  }

  p {
    transform: scale(.5);
      left: -220px
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-gap: 1rem;
    padding: 1rem;
    margin: 90px 90px 50px 90px;
  }

}
